<!DOCTYPE html>
<html lang='en'>
<head>
   <% include head %>
   <link type="text/css" rel="stylesheet" href="../stylesheets/404.css"/>
   <script src="../javascripts/jquery-2.1.4.min.js"></script>

</head>
<body>
   <div class="page">
      <div class="page-content">
         <div class="main">
             <div class="text">
                 <span id="number"><%- error.status -%> </span><span><%- error.message -%></span>
             </div>

             <div id="logo">
                 <a href="/"></a>
             </div>
         </div>
      </div>
      <% include footer %>
   </div>
</body>
</html>
