<div class="container" id="footer">
	<nav class="footer-social-icons">
		<ul class="social-icons">

	        <li><a href="mailto:contact@jamalrahman.co.uk" class="social-icon"><i class="fa fa-envelope"></i></a></li>
	        <li><a href="https://twitter.com/jamalrahman" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
	        <li><a href="https://www.linkedin.com/in/jamal-rahman-baaaa1a4" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
 		</ul>
 	</nav>
 	<div class="legal">

      <a href="http://jamalrahman.co.uk" class="redLink">jamalrahman.co.uk</a>
      <span class="slashSeparator">/</span>
		Copyright © 2018
	</div>
</div>
